@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-5">
        <div class="section-top">
            <h3><span class="style-change">Star products</span> <br /> of the day we chose for you</h3>
        </div>
    </div>
</div>


<div class="row">

    <!-- Products-->
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 col-sm-6">
            <div class="single-food">
                <div class="food-img">
                    <img src="~/images/food6.jpg" class="img-fluid" alt="">
                </div>
                <div class="food-content">
                    <div class="d-flex justify-content-between">
                        <h5>@product.Title</h5>
                        <span class="style-change text-sm-right">₺@product.Price</span>
                    </div>
                    <p class="pt-3">@Html.Raw(@product.Content)</p>
                </div>
            </div>
        </div>

    }

</div>